.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/img/bannner-abt.png") no-repeat center bottom;
    background-size: cover;
    z-index: 1;
    opacity: 0.8;
}

.hero-content-wrapper {
    position: relative;
    z-index: 5;
    padding: 80px;
}

/* Figma Gradient for Heading */
.hero-hdr {
    font-size: 72px;
    font-weight: 800;
    background: linear-gradient(180deg, #FFFFFF 0%, #41ecff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.hero-desc {
    /* max-width: 600px; */
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Custom Button to match your theme */
.btn-primary-custom {
    background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
    border: none;
    color: white;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 500;
    transition: 0.3s;
}

.mySwiper{
     padding-bottom: 40px;
}
 