.hero-section {
    position: relative;
    height: 700px;   
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("../assets/img/service-banner.png") no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 5;
    height: 100%;
}

.hero-hdr {
    position: absolute;
    top: 98px;          
    left: 50%;
    transform: translateX(-50%);
    font-size: 52px;
    font-weight: 800;
    background: linear-gradient(180deg, #41ecff 0%, #2f80ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.breadcrumb-pill {
    position: absolute;
    top: 403px;    
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 25px;
    border-radius: 50px;
    background: rgba(255,255,255,0.15);
    color: #ffffff;
    font-size: 14px;
}


.hero-desc {
    position: absolute;
    bottom: 40px;  
    left: 50%;
    transform: translateX(-50%);
    max-width: 650px;
    color: rgba(255,255,255,0.85);
    font-size: 16px;
    text-align: center;
}

@media (max-width: 992px) {

    .hero-section {
        height: 600px;
    }

    .hero-hdr {
        font-size: 56px;
        top: 120px;
    }

    .breadcrumb-pill {
        top: 401px;
        left: 48%;
        font-size: 13px;
    }

    .hero-desc {
        bottom: 60px;
        max-width: 550px;

    }
}

@media (max-width: 786px) {

    .hero-section {
        height: 520px;
    }

    .hero-hdr {
        font-size: 44px;
        top: 116px;
    }

    .breadcrumb-pill {
        padding: 8px 20px;
    }

    .hero-desc {
        bottom: 50px;
        max-width: 90%;
    }
}

@media (max-width: 576px) {

    .hero-section {
        height: 460px;
    }

    .hero-hdr {
        font-size: 32px;
        top: 98px;
    }

    .breadcrumb-pill {
        top: 401px;
        left: 48%;
        padding: 6px 16px;
    }

    .hero-desc {
        bottom: -19px;
        max-width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

